@use "reset/reset";
@use "variables/variables";
@use "componentes/sign-up-form";
@use "componentes/main-container";
html {
  background-image: url(/media/bg-intro-mobile.png);
  background-color: variables.$color-primary-red;
  position: relative;
  opacity: 60%;
}

body {
  width: 375px;
  height: 100hv;
  font-size: 16px;
  font-family: variables.$font-family;
}
